@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.navBar {
    background-color: none;
    width:55%;
    display: flex;
    justify-content: right;
    align-items:end;
    border-radius: 50px;
    margin-left:45%;
    
    
    .navLable{
        font-family: 'Oswald', sans-serif;
        font-size: 1.4em;
        padding-right: 5%;
        color: #42032C;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .navLable::after {
        content: "";
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s;
      }

    .navLable:hover{
        color: #D36B00;
        text-shadow: 3px;
    }
    
    .navLable:hover:after {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.7s;
      }
    
} 


.separator {
    border: 0;
    border-radius: 100px;
  }
  
  .separator--line {
    border: 0;
    border-bottom: 3px solid #D36B00;
  
    width: 0;
    animation: separator-width 1s ease-out forwards;
  }

  @keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }


@media (max-width: 880px){
    .navBar{
        width:65%;
        margin-left:35%;

        .navLable{
            font-size: 1.3em;
            padding: 2%;
        }
    }
}


@media (max-width: 650px){
    .navBar{
        width:75%;
        margin-left:25%;
    
        .navLable{
            font-size: 1em;
            padding-right: 3%;
        }

    }
}


@media (max-width: 490px){
    .navBar{
        width:85%;
        margin-left:10%;
    
        .navLable{
            font-size: 1em;
            padding-right: 3%;
        }

    }
}


