@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

:root {
  font-family: 'Kodchasan', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width:100%;
  
  color: black;
  background-color: #F6F5F5;

  font-synthesis: none;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-decoration: inherit;
  padding:2% ;
  vertical-align: middle;
  max-width:fit-content;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


