@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');

:root {
  font-family: 'Kodchasan', sans-serif;
  line-height: 1.5;
  max-width:100%;
  color: #42032C;
  background-color: rgba(253, 234, 210, 0.286);
  font-synthesis: none;

}

body {
  text-decoration: inherit;
  padding:2% ;
  max-width:fit-content;
  overflow-y: scroll;
  min-width: 330px ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


