@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.navBar {
    background-color: #E6D2AA;
    min-height: 4em;
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 auto;
    
    .navLable{
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        padding-right: 5%;
        color: #42032C;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
    }

    .navLable::after {
        content: "";
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s;
      }

    .navLable:hover{
        color: #D36B00;
        text-shadow: 3px;
    }
    
    .navLable:hover:after {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.7s;
      }
    
} 

@media (max-width: 750px){
    .navBar{
        min-height: 3em;
        width:96%;

        .navLable{
            font-size: 1.5em;
            padding: 2%;
        }
    }
}

@media (max-width: 500px){
    .navBar{
        min-height: 2em;
        width:90%;
    
        .navLable{
            font-size: 1em;
            padding-right: 3%;
        }

    }
}
